@import "./base";

.header-container {
}

.header-label {
  padding-right: 10px;
  font-weight: bold;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.filter-select {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sort-select {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
